<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.salesforce.samples.restexplorer" android:versionCode="1"
	android:versionName="1.0">


	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:name=".RestExplorerApp">

		<!-- Service required for authentication -->
		<service android:exported="true" android:process=":auth"
			android:name="com.salesforce.androidsdk.auth.AuthenticatorService">

			<intent-filter>
				<action android:name="android.accounts.AccountAuthenticator" />
			</intent-filter>

			<meta-data android:name="android.accounts.AccountAuthenticator"
				android:resource="@xml/authenticator" />

		</service>


		<!-- Launcher screen -->
		<activity android:name=".ExplorerActivity" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- Login activity -->
		<activity android:name=".LoginActivity" android:label="@string/app_name" />

		<!-- Login activity -->
		<activity android:name=".PasscodeActivity" android:label="@string/app_name" />
		
		<!-- Choose server activity -->
		<activity android:name=".ServerPickerActivity" android:label="@string/app_name"
			android:excludeFromRecents="true" />
	</application>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<!-- device os versions http://developer.android.com/guide/publishing/versioning.html -->
	<uses-sdk android:minSdkVersion="8" />

</manifest>
