.metadata/
bin/
coverage.em
coverage/
gen/
instrumentation/
junit-reports/
local.properties
.DS_Store
proguard-project.txt
.settings/
.gradle/
*~
build/
.idea/
*.iml
bower_components/
node_modules/
.github/
package-lock.json
index.android.bundle*
