[submodule "external/shared"]
	path = external/shared
    url = https://github.com/forcedotcom/SalesforceMobileSDK-Shared.git
[submodule "external/cordova"]
	path = external/cordova
	url = https://github.com/apache/cordova-android
[submodule "external/samples"]
	path = external/samples
	url = https://github.com/wmathurin/SalesforceMobileSDK-Samples
