hybrid/SampleApps/AccountEditor/bin/
hybrid/SampleApps/ContactExplorer/bin/
hybrid/SampleApps/HybridFileExplorer/bin/
hybrid/SampleApps/SmartStoreExplorer/bin/
hybrid/SampleApps/VFConnector/bin/
hybrid/SampleApps/test/ContactExplorerTest/bin/
hybrid/SampleApps/test/SmartStoreExplorerTest/bin/
hybrid/SampleApps/test/VFConnectorTest/bin/
hybrid/SmartStore/bin/
hybrid/test/ForcePluginsTest/bin/
hybrid/test/SmartStoreTest/bin/
native/SalesforceSDK/bin/
native/SObjectSDK/bin/
native/SampleApps/FileExplorer/bin/
native/SampleApps/NativeSqlAggregator/bin/
native/SampleApps/RestExplorer/bin/
native/SampleApps/test/RestExplorerTest/bin/
native/TemplateApp/bin/
native/test/SalesforceSDKTest/bin/
native/test/TemplateAppTest/bin/

hybrid/SampleApps/AccountEditor/gen/
hybrid/SampleApps/ContactExplorer/gen/
hybrid/SampleApps/HybridFileExplorer/gen/
hybrid/SampleApps/SmartStoreExplorer/gen/
hybrid/SampleApps/VFConnector/gen/
hybrid/SampleApps/test/ContactExplorerTest/gen/
hybrid/SampleApps/test/SmartStoreExplorerTest/gen/
hybrid/SampleApps/test/VFConnectorTest/gen/
hybrid/SmartStore/gen/
hybrid/test/ForcePluginsTest/gen/
hybrid/test/SmartStoreTest/gen/
native/SalesforceSDK/gen/
native/SObjectSDK/gen/
native/SampleApps/FileExplorer/gen/
native/SampleApps/NativeSqlAggregator/gen/
native/SampleApps/RestExplorer/gen/
native/SampleApps/test/RestExplorerTest/gen/
native/TemplateApp/gen/
native/test/SalesforceSDKTest/gen/
native/test/TemplateAppTest/gen/

hybrid/SampleApps/AccountEditor/proguard-project.txt
hybrid/SampleApps/ContactExplorer/proguard-project.txt
hybrid/SampleApps/HybridFileExplorer/proguard-project.txt
hybrid/SampleApps/SmartStoreExplorer/proguard-project.txt
hybrid/SampleApps/VFConnector/proguard-project.txt
hybrid/SampleApps/test/ContactExplorerTest/proguard-project.txt
hybrid/SampleApps/test/SmartStoreExplorerTest/proguard-project.txt
hybrid/SampleApps/test/VFConnectorTest/proguard-project.txt
hybrid/SmartStore/proguard-project.txt
hybrid/test/ForcePluginsTest/proguard-project.txt
hybrid/test/SmartStoreTest/proguard-project.txt
native/SalesforceSDK/proguard-project.txt
native/SObjectSDK/proguard-project.txt
native/SampleApps/FileExplorer/proguard-project.txt
native/SampleApps/NativeSqlAggregator/proguard-project.txt
native/SampleApps/RestExplorer/proguard-project.txt
native/SampleApps/test/RestExplorerTest/proguard-project.txt
native/TemplateApp/proguard-project.txt
native/test/SalesforceSDKTest/proguard-project.txt
native/test/TemplateAppTest/proguard-project.txt

hybrid/SampleApps/AccountEditor/local.properties
hybrid/SampleApps/ContactExplorer/local.properties
hybrid/SampleApps/HybridFileExplorer/local.properties
hybrid/SampleApps/SmartStoreExplorer/local.properties
hybrid/SampleApps/VFConnector/local.properties
hybrid/SampleApps/test/ContactExplorerTest/local.properties
hybrid/SampleApps/test/SmartStoreExplorerTest/local.properties
hybrid/SampleApps/test/VFConnectorTest/local.properties
hybrid/SmartStore/local.properties
hybrid/test/ForcePluginsTest/local.properties
hybrid/test/SmartStoreTest/local.properties
native/SalesforceSDK/local.properties
native/SObjectSDK/local.properties
native/SampleApps/FileExplorer/local.properties
native/SampleApps/NativeSqlAggregator/local.properties
native/SampleApps/RestExplorer/local.properties
native/SampleApps/test/RestExplorerTest/local.properties
native/TemplateApp/local.properties
native/test/SalesforceSDKTest/local.properties
native/test/TemplateAppTest/local.properties

hybrid/SampleApps/AccountEditor/AccountEditor.iml
hybrid/SampleApps/ContactExplorer/ContactExplorer.iml
hybrid/SampleApps/HybridFileExplorer/HybridFileExplorer.iml
hybrid/SampleApps/SmartStoreExplorer/SmartStoreExplorer.iml
hybrid/SampleApps/VFConnector/VFConnector.iml
hybrid/SmartStore/SmartStore.iml
native/SalesforceSDK/SalesforceSDK.iml
native/SObjectSDK/SalesforceSDK.iml
native/SampleApps/FileExplorer/FileExplorer.iml
native/SampleApps/NativeSqlAggregator/NativeSqlAggregator.iml
native/SampleApps/RestExplorer/RestExplorer.iml
gradle/gradle.iml
SalesforceMobileSDK-Android.iml

.gitignore
.metadata/
.idea/
coverage.em
coverage/
.gradle/
build/
