external/shared/samples/accounteditor/
external/shared/samples/contactexplorer/
external/shared/samples/fileexplorer/
external/shared/samples/simplesync/
external/shared/samples/smartstoreexplorer/
external/shared/samples/userandgroupsearch/
external/shared/samples/usersearch/

external/cordova/bin/
external/cordova/framework/bin/
external/cordova/test/bin/
libs/SalesforceSDK/bin/
libs/SmartStore/bin/
libs/SmartSync/bin/
native/TemplateApp/bin/

external/cordova/framework/gen/
external/cordova/test/gen/
libs/SalesforceSDK/gen/
libs/SmartStore/gen/
libs/SmartSync/gen/
native/TemplateApp/gen/

hybrid/SampleApps/
native/SampleApps/
external/shared/test/
hybrid/test/
native/test/
libs/test/

libs/SmartSync/proguard-project.txt
libs/SmartStore/proguard-project.txt
libs/SalesforceSDK/proguard-project.txt
native/TemplateApp/proguard-project.txt

libs/SmartSync/local.properties
libs/SmartStore/local.properties
libs/SalesforceSDK/local.properties
native/TemplateApp/local.properties

libs/SmartSync/SmartSync.iml
libs/SmartStore/SmartStore.iml
libs/SalesforceSDK/SalesforceSDK.iml
gradle/gradle.iml
SalesforceMobileSDK-Android.iml

.gitignore
.metadata/
.idea/
coverage.em
coverage/
.gradle/
build/
