hybrid/SampleApps/AccountEditor/bin/
hybrid/SampleApps/ContactExplorer/bin/
hybrid/SampleApps/SFDCAccounts/bin/
hybrid/SampleApps/SmartStoreExplorer/bin/
hybrid/SampleApps/test/ContactExplorerTest/bin/
hybrid/SampleApps/test/SFDCAccountsTest/bin/
hybrid/SampleApps/test/SmartStoreExplorerTest/bin/
hybrid/SampleApps/test/VFConnectorTest/bin/
hybrid/SampleApps/VFConnector/bin/
hybrid/SmartStore/bin/
hybrid/test/ForcePluginsTest/bin/
hybrid/test/SmartStoreTest/bin/
native/SalesforceSDK/bin/
native/SampleApps/CloudTunes/bin/
native/SampleApps/RestExplorer/bin/
native/SampleApps/NativeSqlAggregator/bin/
native/SampleApps/test/RestExplorerTest/bin/
native/TemplateApp/bin/
native/test/SalesforceSDKTest/bin/
native/test/TemplateAppTest/bin/

hybrid/SampleApps/AccountEditor/gen/
hybrid/SampleApps/ContactExplorer/gen/
hybrid/SampleApps/SFDCAccounts/gen/
hybrid/SampleApps/SmartStoreExplorer/gen/
hybrid/SampleApps/test/ContactExplorerTest/gen/
hybrid/SampleApps/test/SFDCAccountsTest/gen/
hybrid/SampleApps/test/SmartStoreExplorerTest/gen/
hybrid/SampleApps/test/VFConnectorTest/gen/
hybrid/SampleApps/VFConnector/gen/
hybrid/SmartStore/gen/
hybrid/test/ForcePluginsTest/gen/
hybrid/test/SmartStoreTest/gen/
native/SalesforceSDK/gen/
native/SampleApps/CloudTunes/gen/
native/SampleApps/RestExplorer/gen/
native/SampleApps/NativeSqlAggregator/gen/
native/SampleApps/test/RestExplorerTest/gen/
native/TemplateApp/gen/
native/test/SalesforceSDKTest/gen/
native/test/TemplateAppTest/gen/

native/SalesforceSDK/proguard-project.txt

.gitignore
.metadata/
