language: android
jdk: oraclejdk7
sudo: false

branches:
   only:
      - unstable

android:
   components:
      - build-tools-23.0.1
      - android-23
      - extra-google-m2repository
      - extra-android-m2repository

env:
   global:
      # install timeout in minutes
      - ADB_INSTALL_TIMEOUT=8

# Create and start the emulator
before_script:
   - echo no | android create avd --force -n test -t android-21  --abi armeabi-v7a -c 128M
   - emulator -avd test -no-skin -no-audio -no-window &
   - android-wait-for-emulator
   - adb shell input keyevent 82
#Build all projects and run the tests
script:
   - travis_wait 30 ./gradlew :libs:SalesforceSDK:connectedAndroidTest
   - travis_wait 30 ./gradlew :libs:SmartStore:connectedAndroidTest
   - travis_wait 30 ./gradlew :libs:SmartSync:connectedAndroidTest
   - travis_wait 30 ./gradlew :libs:SalesforceHybrid:connectedAndroidTest
   - ./gradlew :libs:SalesforceReact:assembleDebug
   - travis_wait 30 ./gradlew :native:NativeSampleApps:RestExplorer:connectedAndroidTest
   - travis_wait 30 ./gradlew :native:TemplateApp:connectedAndroidTest
