<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.salesforce.androidsdk.sample"
      android:versionCode="1"
      android:versionName="1.0"
      android:installLocation="internalOnly" >

	<supports-screens
       android:largeScreens="true"
       android:normalScreens="true"
       android:smallScreens="true"
       android:resizeable="true"
       android:anyDensity="true"
    />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
	<application android:icon="@drawable/sf__icon" android:label="@string/app_name" android:debuggable="true" android:name=".CloudTunesApp">

		<!-- Service required for authentication -->
   		<service android:exported="true" android:process=":auth"
			android:name="com.salesforce.androidsdk.auth.AuthenticatorService">

			<intent-filter>
				<action android:name="android.accounts.AccountAuthenticator" />
			</intent-filter>

			<meta-data android:name="android.accounts.AccountAuthenticator"
				android:resource="@xml/authenticator" />

		</service>
        
        <activity android:name=".AlbumListActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TrackListActivity"
        		  android:configChanges="orientation|keyboardHidden"/>

        <!-- Login activity -->
		<activity android:name="com.salesforce.androidsdk.ui.LoginActivity" android:theme="@android:style/Theme.NoTitleBar"/>

		<!-- Passcode activity -->
		<activity android:name="com.salesforce.androidsdk.ui.PasscodeActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
		
		<!-- Choose server activity -->
		<activity android:name="com.salesforce.androidsdk.ui.ServerPickerActivity" android:excludeFromRecents="true" android:theme="@android:style/Theme.NoTitleBar" />
    </application>
</manifest>
