<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.salesforce.androidsdk.hybrid"
    android:versionCode="58"
    android:versionName="5.3.0">

    <uses-sdk android:minSdkVersion="19"
        android:targetSdkVersion="26" />

    <application />
</manifest>
