<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.salesforce.androidsdk.hybrid"
    android:versionCode="54"
    android:versionName="5.0.0.unstable">

    <uses-sdk android:minSdkVersion="19"
        android:targetSdkVersion="24" />

    <application />
</manifest>
