version: 2
jobs:
  build:
    docker:
      - image: brandonpage/salesforce-mobilesdk-android-docker-primary:0.0.4
        environment:
          MAVEN_OPTS: "-Xms256m -Xmx1024m"

    working_directory: ~/SalesforceMobileSDK-Android

    environment:
      - TERM: "dumb"
      - ADB_INSTALL_TIMEOUT: 15
      - ANDROID_NDK: '/opt/ndk/android-ndk-r10e'
      - BUILD_THREADS: 2 

    steps:
      - run:
          name:  Launch Emulator
          command: emulator64-arm -avd test22 -no-audio -no-window -no-boot-anim -gpu off
          background: true

      - checkout

      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "build.gradle" }}
      - run:
          name: Download Dependencies
          command: ./install.sh && ./gradlew androidDependencies && ./gradlew dependencies
      - save_cache:
          paths:
            - ~/.gradle
            - node_modules
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "build.gradle" }}

      - run:
          name:  Wait for Emulator to boot
          command: source .circleci/ci-helper.sh && waitForAVD

      - run:
          name: Run SalesforceAnalytics Tests
          halt_build_on_fail: false
          command: ./gradlew :libs:SalesforceAnalytics:connectedAndroidTest --continue --no-daemon --profile --max-workers 2
          no_output_timeout: 900
          when: always
      - run:
          name: Run SalesforceSDK Tests
          halt_build_on_fail: false
          command: ./gradlew :libs:SalesforceSDK:connectedAndroidTest --continue --no-daemon --profile --max-workers 2
          no_output_timeout: 900
          when: always
      - run:
          name: Run SmartStore Tests
          halt_build_on_fail: false
          command: ./gradlew :libs:SmartStore:connectedAndroidTest --continue --no-daemon --profile --max-workers 2
          no_output_timeout: 900
          when: always
      - run:
          name: Run SmartSync Tests
          halt_build_on_fail: false
          command: ./gradlew :libs:SmartSync:connectedAndroidTest --continue --no-daemon --profile --max-workers 2
          no_output_timeout: 900
          when: always
      - run:
          name: Run SalesforceHybrid Tests
          halt_build_on_fail: false
          command: ./gradlew :libs:SalesforceHybrid:connectedAndroidTest --continue --no-daemon --profile --max-workers 2
          no_output_timeout: 900
          when: always
      - run:
          name: Build SalesforceReact
          halt_build_on_fail: false
          command: ./gradlew :libs:SalesforceReact:assembleDebug -p . --continue --no-daemon --profile --max-workers 2
          no_output_timeout: 900
          when: always

      - run:
          name: Combine lib Test Restuls
          command: junit-merge libs/**/build/outputs/androidTest-results/connected/*.xml
          when: always
      - run:
          name:  Run Danger
          command: danger
          when: always

      - store_artifacts:
          path: libs/SalesforceAnalytics/build/reports/
      - store_test_results:
          path: libs/SalesforceAnalytics/build/reports/
      - store_artifacts:
          path: libs/SalesforceSDK/build/reports/
      - store_test_results:
          path: libs/SalesforceSDK/build/reports/
      - store_artifacts:
          path: libs/SmartStore/build/reports/
      - store_test_results:
          path: libs/SmartStore/build/reports/
      - store_artifacts:
          path: libs/SmartSync/build/reports/
      - store_test_results:
          path: libs/SmartSync/build/reports/
      - store_artifacts:
          path: libs/SalesforceHybrid/build/reports/
      - store_test_results:
          path: libs/SalesforceHybrid/build/reports/
      
