<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.salesforce.samples.sfdcaccounts.tests"
          android:versionCode="1"
          android:versionName="1.0">

    <application>
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation android:targetPackage="com.salesforce.samples.sfdcaccounts" 
                     android:name="com.salesforce.androidsdk.util.JUnitReportTestRunner" 
                     android:label="Tests for SFDCAccounts" />
    
    <!-- device os versions http://developer.android.com/guide/publishing/versioning.html -->
    <uses-sdk android:minSdkVersion="8" />
    
</manifest>
