<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.salesforce.androidsdk.smartsync"
    android:versionCode="42"
    android:versionName="3.2.0.unstable">

    <uses-sdk android:minSdkVersion="17"
        android:targetSdkVersion="21" />

    <application />
</manifest>
