<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.salesforce.androidsdk.smartstore"
	android:versionCode="62"
	android:versionName="7.0.0">

	<application>

        <!--  SmartStore Inspector screen -->
        <activity android:name="com.salesforce.androidsdk.smartstore.ui.SmartStoreInspectorActivity"
			android:theme="@style/SalesforceSDK.ActionBarTheme"
			android:exported="false"/>
	</application>
</manifest>
