<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.salesforce.androidsdk" 
	android:versionCode="58"
	android:versionName="6.0.0.dev">

    <uses-sdk android:minSdkVersion="21"
        android:targetSdkVersion="26" />

    <application>

        <!-- Metadata for supported app restrictions -->
        <meta-data android:name="android.content.APP_RESTRICTIONS"
            android:resource="@xml/app_restrictions" />

        <!-- Service required for authentication -->
        <service android:exported="true"
            android:name="com.salesforce.androidsdk.auth.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- Login activity -->
        <!--
            Launch mode of "singleInstance" ensures that the activity isn't restarted
            by a callback from Chrome custom tab when auth flow is complete. This is
            required for the Chrome custom tab auth flow to work correctly.
        -->
        <activity android:name="com.salesforce.androidsdk.ui.LoginActivity"
            android:theme="@style/SalesforceSDK.ActionBarTheme"
            android:launchMode="singleInstance">

            <!--
                To enable browser bath authentication, uncomment the lines below and replace
                'scheme', 'host' and 'path' with their corresponding values from your connected app.

                For example, if the callback URL of your connected app is
                "testsfdc:///mobilesdk/detect/oauth/done",
                'scheme' would be "testsfdc", 'host' would be "*" since it doesn't exist, and
                'path' would be "/mobilesdk/detect/oauth/done".

                If the callback URL is "sfdc://login.salesforce.com/oauth/done",
                'scheme' would be "sfdc", 'host' would be "login.salesforce.com",
                and 'path' would be "/oauth/done".
            -->
            <!--
            <intent-filter>
                <data android:scheme="testsfdc"
                    android:host="*"
                    android:path="/mobilesdk/detect/oauth/done" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->
        </activity>

        <!-- Passcode activity -->
        <activity android:name="com.salesforce.androidsdk.ui.PasscodeActivity"
            android:theme="@style/SalesforceSDK.ActionBarTheme"
            android:exported="false" />

        <!-- Manage space activity -->
        <activity android:name="com.salesforce.androidsdk.ui.ManageSpaceActivity"
            android:excludeFromRecents="true"
            android:theme="@style/SalesforceSDK.ActionBarTheme" />

        <!-- Choose server activity -->
        <activity android:name="com.salesforce.androidsdk.ui.ServerPickerActivity"
            android:excludeFromRecents="true"
            android:theme="@style/SalesforceSDK.ActionBarTheme" />

        <!-- Account switcher activity -->
        <activity android:name="com.salesforce.androidsdk.ui.AccountSwitcherActivity"
            android:excludeFromRecents="true"
            android:theme="@style/SalesforceSDK.ActionBarTheme" />

        <!-- Google Play Services Push Registration -->
        <!--
            Push notification services and receivers. The 'category' attribute
            here should match the <app-package-name> attribute.
        -->
        <receiver android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <service android:name="com.salesforce.androidsdk.push.SFDCGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service android:name="com.salesforce.androidsdk.push.SFDCInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service android:name="com.salesforce.androidsdk.push.SFDCRegistrationIntentService"
            android:exported="false">
        </service>

        <receiver android:name="com.salesforce.androidsdk.push.PushService$SFDCRegistrationRetryAlarmReceiver"
            android:exported="false" />
        <service android:name="com.salesforce.androidsdk.push.PushService"
            android:exported="false" />
        <service android:name="com.salesforce.androidsdk.analytics.AnalyticsPublisherService"
            android:exported="false" />
    </application>

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--TODO: Remove the -sdk-23 tag when the minsdk version is 23-->
    <uses-permission-sdk-23 android:name="android.permission.USE_FINGERPRINT" />
</manifest>
