<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.salesforce.androidsdk.reactnative.tests">

	<application android:label="@string/app_name"
        android:name="com.salesforce.androidsdk.reactnative.util.SalesforceReactTestApp"
        android:manageSpaceActivity="com.salesforce.androidsdk.ui.ManageSpaceActivity">

	    <!-- Launcher screen -->
        <activity android:name="com.salesforce.androidsdk.reactnative.util.ReactTestActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	</application>
</manifest>
