{

"access_token":"__NOT_REQUIRED__",
 
"test_client_id":"__INSERT_REMOTE_ACCESS_CLIENT_KEY_HERE__",

"test_login_domain":"__INSERT_LOGIN_URL_HERE__",

"test_redirect_uri":"__INSERT_REMOTE_ACCESS_CALLBACK_URL_HERE__",

"refresh_token":"__INSERT_TOKEN_HERE__",
 
"instance_url":"__INSERT_INSTANCE_URL_HERE__",

"identity_url":"__INSERT_IDENTITY_URL_HERE__"

"organization_id": "__INSERT_ORG_ID_HERE__",

"username": "__INSERT_USER_NAME_HERE__",

"user_id": "__INSERT_USER_ID_HERE__",

"display_name": "__INSERT_DISPLAY_NAME_HERE__",

"photo_url": "__INSERT_PHOTO_URL_HERE__"

}